.input{
    height: 80px;
    width: 150px;
    outline: none;
    font-size: 70px;
    color: #3b3d59;
}
.btn{
    font-size: 34px;
    width: 200px;
    padding: 24px;
    background-color: #2e8fc3;
    border: none;
    border-radius: 20px;
    color: #fff;
    margin-left: 30px;
}
.content{

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.hard_content{
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 16px;
}
